{
"dynamic":"https://allsaroak.page.link",
  "showAdmob": false,
  "banner": "ca-app-pub-5722545090844112/5186586066",
  "interstitial": "ca-app-pub-5722545090844112/8035523953",
  "opengridserver": true,
  "gridserver": "https://raw.githubusercontent.com/PharaohMod/AllSarOak/main/gridserver.json"
}
